
#img1{
position:relative;
right:10px;
top:10px;
}

#maincontainer{
height:435px;
}

#customermanage{
width:45%;
height:435px;
float:left;
}


button1{
margin-bottom: 10px;
}

#searchcustomer{
width:50%;
height:420px;
float:right;
}

#searchicon{
position:relative;
bottom:3px;
}

#customerdetails{
height:50px;
width:200px;
background:#6D327B
}

#viewcus{
height:50px;
width:200px;
background:#3F51B5;
}

#image{
position:relative;
top:10px;
right:10px;

}

